.c0{
	height: 400px

}
.c1{
	background-color: rgb(49, 55, 69);
	height: 400px;
	width: 710px;
	float: left;
}

.c2{
	background-color: rgb(184, 184, 184);
	height: 400px;
	width: 710px;
	float: left;
}

.c3{
	background-color: rgb(237, 237, 237);
	height: 400px;
	width: 710px;
	float: left;
}

.c4{
	background-color: rgb(220, 39, 19);
	height: 400px;
	width: 710px;
	float: left;
}
