.c10{
	height: 266px;
}
.c11{
	background-color: black;
	height: 266px;
	width: 284px;
	float: left;
}
.c12{
	background-color: white;
	height: 266px;
	width: 284px;
	float: left;
}
.c13{
	background-color: black;
	height: 266px;
	width: 284px;
	float: left;
}
.c14{
	background-color: white;
	height: 266px;
	width: 284px;
	float: left;
}
.c15{
	background-color: black;
	height: 266px;
	width: 284px;
	float: left;
}
.c20{
	height: 266px;
}
.c21{
	background-color: white;
	height: 266px;
	width: 284px;
	float: left;
}
.c22{
	background-color: black;
	height: 266px;
	width: 284px;
	float: left;
}
.c23{
	background-color: white;
	height: 266px;
	width: 284px;
	float: left;
}
.c24{
	background-color: black;
	height: 266px;
	width: 284px;
	float: left;
}
.c25{
	background-color: white;
	height: 266px;
	width: 284px;
	float: left;
}
.c3{
	height: 266px;
}
.c31{
	background-color: black;
	height: 266px;
	width: 284px;
	float: left;
}
.c32{
	background-color: white;
	height: 266px;
	width: 284px;
	float: left;
}
.c33{
	background-color: black;
	height: 266px;
	width: 284px;
	float: left;
}
.c34{
	background-color: white;
	height: 266px;
	width: 284px;
	float: left;
}
.c35{
	background-color: black;
	height: 266px;
	width: 284px;
	float: left;
}